@CHARSET "ISO-8859-1";

#contenedor-general {
	min-height: 500px;
	margin-top: 167px;
	background-color: #fff;
	margin-top: 200px;
	position: relative;
	font-size: 14px;
	font-family: Arial,sans-serif;
}

.navbar.navbar-fixed-top > .container {
	background-color: #fff !important;
	box-shadow: 0 7px 5px -5px #000;
}

.navbar {
	height: 107px !important;
	font-weight: bolder;
	font-size: 16px;
	background-color: #fff !important;
}

.navbarMenu {
	color: #2BA9DB;
	background-color: #fff !important;
}

.navLogout {
    margin:15px;
}

.navLogout > li {
    margin: 7px;
}

.detail {
    width: 80%;
    padding-left: 25px;
}

#amodal{
	z-index: 2000;
}

.label-Administrador{
    background-color: #c10000;
}

.label-Ayuntamiento{
    background-color: #f0ad4e;
}
.logo {
	 width: 10%;
}

ul.nav-bar>li {
	background-color: #fff !important;
	color: #2ba9db !important;
	font-size: 16px !important;
}


.navbar-nav>li>a:hover {
	border-bottom: 5px solid #2ba9db;
	background-color: #fff !important;
}

.logo-header {
	min-width: 140px;
	min-height: 53px;
	max-width: 170px;
	max-height: 68px;
	margin-top: 25px;
	margin-right: 4px;
}

a.logout-panel, .logout-panel-user {
	font-size: 15px;
}

.logout-panel-user {
	margin-top: 14px;
	margin-left: 16px;
}

a.logout-panel:hover {
	background-color: transparent !important;
	color: #c10000;
	border: 0px !important;
}

.boton-alta-usuario {
	margin-left: 17px;
}

.ui-button-icon-left{
position: absolute;
top: 43% !important;
margin-top: -8px;
font-size: 16px !important;
}


.btnEliminarUsuario{
	font-size: 11px !important;
}

#scrollUpCustom {
    background-image: url("#{resource['img:iconos/top.png']}");
    bottom: 65px;
    right: 18px;
    width: 38px; /* width of the custom image */
    height: 38px; /* height of the custom image */
    outline: none;
}

footer{
    margin-top: 70px;
}